<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<pwa>
			<keys>
				<api_key/>
			</keys>
			<nodeuser>
			<max_discount>200</max_discount>
			<coupons_array>f500u200</coupons_array>
			<online_discount>0</online_discount>
			<cashback_status>0</cashback_status>
			<online_discount_methods>checkmo,banktransfer</online_discount_methods>
			</nodeuser>
			<easyecom>
			<email>abhishek.g@mamaearth.in</email>
			<password>mamaearth$1</password>
			<token>29cedcc6d077257a622668afa53e9ad2c023940a2f4a84dab05c7fc629b67195_1</token>
			</easyecom>
			<shiprocket>
			<email>gaurav@farzienginer.in</email>
			<password>lulu</password>
			<auto_cancel_from_shiprocket>0</auto_cancel_from_shiprocket>
			<token>eLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjQyOTg5MywiaXNzIjoiaHR0cHM6Ly9hcGl2Mi5zaGlwcm9ja2V0LmluL3YxL2V4dGVybmFsL2F1dGgvbG9naW4iLCJpYXQiOjE1OTI5NzUwNjgsImV4cCI6MTU5MzgzOTA2OCwibmJmIjoxNTkyOTc1MDY4LCJqdGkiOiJNZW5Db3hWbVF5VHBRWThOIn0.LVCEOI74LfDgKgE-m3I8VAQ_BSYcJI9j2kOF9Ld2QwE</token>
			</shiprocket>
			<sqs>
				<order_event_queue_name>order-event-stage.fifo</order_event_queue_name>
			</sqs>
			<auto_add>
				<auto_add_skus>12345678</auto_add_skus>
				<no_products>2</no_products>
				<coupon_name>c2g2</coupon_name>
				<status_coupon>off</status_coupon>
			</auto_add>
			<autoadd_config>
				<auto_add_sec_skus>12345679</auto_add_sec_skus>
				<no_sec_products>3</no_sec_products>
				<coupon_sec_name>b2g2</coupon_sec_name>
			</autoadd_config>
			<auto_thr_add>
				<auto_add_thr_skus>12345670</auto_add_thr_skus>
				<no_thr_products>4</no_thr_products>
				<coupon_thr_name>happybaby</coupon_thr_name>
			</auto_thr_add>
			<auto_for_add>
				<auto_add_for_skus>123468985</auto_add_for_skus>
				<no_for_products>5</no_for_products>
				<coupon_for_name>b2g2</coupon_for_name>
			</auto_for_add>
			<auto_five_add>
				<auto_add_fve_skus>12345678</auto_add_fve_skus>
				<no_fve_products>2</no_fve_products>
				<coupon_fifth_name>c2g2</coupon_fifth_name>
			</auto_five_add>
			<auto_six_config>
				<auto_add_six_skus>12345679</auto_add_six_skus>
				<no_six_products>3</no_six_products>
				<coupon_six_name>b2g2</coupon_six_name>
			</auto_six_config>
			<auto_sev_add>
				<auto_add_sev_skus>12345670</auto_add_sev_skus>
				<no_sev_products>4</no_sev_products>
				<coupon_sev_name>happybaby</coupon_sev_name>
			</auto_sev_add>
			<auto_eig_add>
				<auto_add_eig_skus>123468985</auto_add_eig_skus>
				<no_eig_products>5</no_eig_products>
				<coupon_eig_name>b2g2</coupon_eig_name>
			</auto_eig_add>
			<auto_nin_add>
				<auto_add_nin_skus>12345670</auto_add_nin_skus>
				<no_nin_products>4</no_nin_products>
				<coupon_nin_name>happybaby</coupon_nin_name>
			</auto_nin_add>
			<auto_ten_add>
				<auto_add_ten_skus>123468985</auto_add_ten_skus>
				<no_ten_products>5</no_ten_products>
				<coupon_ten_name>b2g2</coupon_ten_name>
			</auto_ten_add>
		</pwa>
	</default>
</config>
